body {
  font-family: Arial, sans-serif;
  font-size: 14px; }

blockquote {
  border-left: 5px solid rgba(192, 198, 194, 0.5); }

a:hover, a:focus {
  text-decoration: underline; }

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease; }
  .btn:hover, .btn:focus {
    color: white;
    background-color: #3D4A53; }
  .btn.btn-default:hover, .btn.btn-default:focus {
    background-color: rgba(192, 198, 194, 0.5); }
  .btn.btn-danger {
    background-color: #D33E43; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #D33E43; }
  .btn.btn-warning {
    background-color: #f0ad4e; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f0ad4e; }
  .btn.btn-info {
    background-color: #5d717f; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5d717f; }
  .btn.btn-success {
    background-color: #558B6E; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #558B6E; }
  .btn.btn-link {
    color: #3D4A53;
    background-color: transparent; }
    .btn.btn-link:hover, .btn.btn-link:focus {
      background-color: #3D4A53; }

ul.menu {
  padding: 0;
  margin: 0;
  list-style: none; }

.panel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.jumbotron {
  background-color: rgba(192, 198, 194, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

ul.pagination li a, ul.pagination li span {
  color: #3D4A53;
  border: 1px solid #C0C6C2; }
  ul.pagination li a:hover, ul.pagination li a:focus, ul.pagination li span:hover, ul.pagination li span:focus {
    background-color: rgba(192, 198, 194, 0.2);
    border-color: #C0C6C2;
    color: #3D4A53; }

ul.pagination li.active a, ul.pagination li.active span {
  background-color: #3D4A53;
  border-color: #3D4A53; }

.breadcrumb li.item-home {
  padding-right: 5px; }

#header {
  height: 80px; }
  #header .navbar-toggle {
    margin-top: 23px;
    margin-bottom: 0; }

#the-logo {
  float: left;
  overflow: hidden; }
  #the-logo a.logo-text {
    font-size: 24px;
    line-height: 80px;
    text-transform: uppercase; }
    #the-logo a.logo-text:hover, #the-logo a.logo-text:focus {
      text-decoration: none; }
  #the-logo a.logo-image {
    display: block;
    text-indent: -9999px;
    height: 80px;
    min-width: 120px;
    background-size: contain; }

#nav-container {
  float: right; }
  #nav-container .navbar-nav li a {
    padding: 0 30px;
    display: block;
    color: white;
    line-height: 80px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease; }
  #nav-container .navbar-nav li .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    min-width: 160px;
    max-height: 0;
    font-size: 90%;
    overflow: hidden;
    background: #dbdedc;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease; }
    #nav-container .navbar-nav li .sub-menu li a {
      color: #3D4A53;
      line-height: 1.61803;
      padding: 5px 15px; }
      #nav-container .navbar-nav li .sub-menu li a:hover, #nav-container .navbar-nav li .sub-menu li a:focus {
        text-decoration: none;
        background-color: #a5aea8;
        color: white; }
  #nav-container .navbar-nav li:hover .sub-menu {
    max-height: 600px; }
  #nav-container .navbar-nav li.active a, #nav-container .navbar-nav li.active a:hover, #nav-container .navbar-nav li.active a:focus, #nav-container .navbar-nav li a:hover {
    color: #a5aea8;
    background-color: rgba(255, 255, 255, 0.8); }

#footer {
  border-top: 1px solid #eee;
  padding: 15px 0; }
  #footer nav.nav {
    text-align: center;
    margin-top: 5px; }
  #footer ul.footer-menu {
    display: inline-block; }
  #footer ul.footer-menu li {
    float: left; }
  #footer ul.footer-menu li a {
    padding: 5px 30px; }

.marg {
  margin: 30px; }

.marg-top {
  margin-top: 30px; }

.marg-bottom {
  margin-bottom: 30px; }

.marg-left {
  margin-left: 30px; }

.marg-right {
  margin-right: 30px; }

.pad {
  padding: 30px; }

.pad-top {
  padding-top: 15px; }

.pad-bottom {
  padding-bottom: 15px; }

.pad-left {
  padding-left: 15px; }

.pad-right {
  padding-right: 15px; }

.widget_recent_entries ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_recent_entries ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_recent_entries ul li a {
      padding: 0 0 0 15px; }
    .widget_recent_entries ul li:last-child {
      border-bottom: 0; }

.widget_recent_comments ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_recent_comments ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_recent_comments ul li a {
      padding: 0 0 0 15px; }
    .widget_recent_comments ul li:last-child {
      border-bottom: 0; }

.widget_meta ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_meta ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_meta ul li a {
      padding: 0 0 0 15px; }
    .widget_meta ul li:last-child {
      border-bottom: 0; }

.widget_archive ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_archive ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_archive ul li a {
      padding: 0 0 0 15px; }
    .widget_archive ul li:last-child {
      border-bottom: 0; }

.widget_pages ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_pages ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_pages ul li a {
      padding: 0 0 0 15px; }
    .widget_pages ul li:last-child {
      border-bottom: 0; }

.widget_categories ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .widget_categories ul li {
    border-bottom: 1px solid rgba(192, 198, 194, 0.2);
    line-height: 3;
    padding: 0 0 0 15px; }
    .widget_categories ul li a {
      padding: 0 0 0 15px; }
    .widget_categories ul li:last-child {
      border-bottom: 0; }

h3.widget-title {
  margin: 0;
  padding: 0;
  list-style: none; }

.widget h3.widget-title {
  padding: 0 0 0 15px;
  font-size: 18px;
  background: rgba(192, 198, 194, 0.2);
  line-height: 3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.widget_calendar #calendar_wrap {
  padding: 10px 15px; }

#wp-calendar {
  width: 100%; }
