

body {
	font-family: $font-family;
	font-size: $font-size;
}

// quotes

blockquote {
	border-left: 5px solid rgba( $gray, .5 );
}

// links

a {
	&:hover, &:focus {
		text-decoration: underline;
	}
}