
// Typography

$font-family: Arial, sans-serif;
$font-size: 14px;

// Colors

$black: #454542;
$gray: #C0C6C2;

$blue: #3D4A53;
$red: #D33E43;
$yellow: yellow;

$green: #558B6E;
$orange: #f0ad4e;

// Global

$border-radius: 4px;
$gitter: 30px;
$golden-ratio: 1.61803398875;
