body {
  direction: rtl; }

pre {
  direction: ltr; }

.nav {
  padding-right: 0; }

.navbar-nav > li, .nav-tabs > li, .nav-pills > li, ul.footer-menu li {
  float: right; }

.navbar-nav {
  float: left; }

.nav-tabs > li > a {
  margin-right: auto;
  margin-left: 2px; }

blockquote {
  border-right: 5px solid #eee;
  border-left: 0; }

.widget h3.widget-title {
  padding: 0 15px 0 0; }

.widget_meta ul li a, .widget_archive ul li a, .widget_pages ul li a, .widget_nav_menu ul li a {
  padding: 0 15px 0 0; }

.breadcrumb li {
  margin-left: 10px;
  margin-right: auto; }
